<!DOCTYPE html>
<html>
    <script src = '/js/app.js'></script>
    <head>
        {{>header}}
    </head>
    <body>
    <h1>Learning about hbs web server</h1>
    <h2>{{title}}</h2>
    </body>
    
</html>